{% assign variable = "Hello" %}
{% assign array_string = "Wesley, Conner, Joe, Paul, Justin, Nan" %}
{% assign array = array_string | split: "," %}

<ul>
{% for name in array %}
  {% if name.size < 4 %}
    <li>{{ name }}</li>
{% endfor %}
</ul>



{{ variable }}